.cart-container {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  padding-bottom: 40px;
}

.cart-container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.cart-container p {
  text-align: center;
  font-size: 18px;
}

.cart-item {
  width: 100%;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 12px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.cart-item img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
}

.cart-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.cart-item p {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #f4f4f4;
  color: red;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 5px;
}

.qty-box button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.qty-box span {
  font-size: 16px;
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}

.cart-buttons {
  display: flex;
  flex-direction: row; 
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.cart-buttons button {
  flex: 1; 
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.cart-buttons button:first-child {
  background: black;
  color: white;
}

.cart-buttons button:last-child {
  background: black;
  color: white;
  border: 1px solid #ffbbbb;
}

@media (max-width: 480px) {
  .cart-item {
    width: 95%;
  }

  .cart-item img {
    width: 150px;
    height: 150px;
  }

  .qty-box {
    padding: 6px 10px;
  }

  .cart-buttons {
    flex-direction: column;
  }

  .cart-buttons button {
    padding: 12px 0;
    font-size: 14px;
  }
}
