.menu-container {
    width: 100%;
    padding: 20px 60px;
    margin-top: 20px;
}

.menu-heading {
    font-size: 35px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 20px;
    color: #1a1a1a;
    display: block;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.menu-card {
    background: #fff;
    border-radius: 16px;
    padding: 22px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    transition: 0.2s;
    display: flex;            
    flex-direction: column;   
    height: 100%;             
}

.menu-card:hover {
    transform: translateY(-5px);
}

.menu-img {
    width: 100%;
    border-radius: 12px;
}

.menu-title {
    margin-top: 12px;
    font-size: 17px;
    font-weight: 700;
}

.menu-row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 8px 0;
}

.menu-subimg {
    width: 10px;
    height: 10px;
}

.menu-price{
    font-size: 16px;
    font-weight: 600;
    color:black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    flex-grow: 1;         
}

.menu-btn {
    width: 53%;        
    height: 37px;  
    text-align: center;
    margin-left: 23%;
    background: #e4002b;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10%;
    cursor: pointer;
}

.menu-btn:hover {
    background: #b80022;
}


@media screen and (max-width: 768px) {
  .menu-container {
    padding: 20px 15px; 
  }

  .menu-grid {
    grid-template-columns: 1fr; 
    gap: 15px; 
  }

  .menu-card {
    padding: 15px; 
  }

  .menu-title {
    font-size: 16px; 
  }

  .menu-price {
    font-size: 15px;
  }

  .menu-description {
    font-size: 13px;
  }

  .menu-btn {
    width: 60%; 
    margin-left: 23%;
    font-size: 14px;
  }
}
