*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navigate-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

.section1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 2%;
    gap: 10px;
}

.logo-img {
   width: 80px;
}

.links {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.links a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
}

.signin-logo {
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.signin-logo a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.cart-img {
    width: 40px;
}

.cart-link {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid white;
}

.section2 {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  background: black;
  padding: 10px 0;
}

.slide-track {
  animation: slideLeft 20s linear infinite;
  display: flex;
  gap: 50px;
  animation: slideLeft 100s linear infinite;
}

.section2 p {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
}

@keyframes slideLeft {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@media screen and (max-width: 768px) {

  .section1 {
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
  }

  .logo-img {
    width: 60px;
  }

  .links a {
    font-size: 12px;
    padding: 6px 8px;
  }

  .signin-logo {
    margin-left: 13px;
    gap: 6px;
    /* border: 3px solid blue; */
  }

  .signin-logo a {
    font-size: 11px;
  }

  .cart-img {
    width: 28px;
  }

  .section2 {
    padding: 12px 0;
  }

  .section2 p {
    font-size: 14px;
  }

  .slide-track {
    min-width: 250%;            
    gap: 40px;
    animation: slideLeft 30s linear infinite;
  }
}
