
.selection-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.selection-content {
  width: 600px;
  height: 75vh;
  background: white;
  padding: 40px 50px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0,0,0,0.3);
}

.selection-arrow {
  position: absolute;
  left: 25px;
  top: 25px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 3%;
}

.selection-head {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
  margin-top: 10px;
}

.selection-divider {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 15px 0;
}

.selection-subtitle {
  font-size: 12px;
  margin-bottom: 25px;
  color: #444;
  margin-right: 40%;

}

.auth-link {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

.selection-box {
  display: flex;
  flex-direction: row;      
  gap: 10px;
  width: 100%;
  align-items: center;
}

.select-input {
  width: 68%;
  height:3vh;
  padding: 14px 20px;
  border-radius: 40px;
  border: 2px solid #000;
  background: #f7f7f7;
  font-size: 12px;
  outline: none;
  transition: 0.2s ease;
}

.select-input:focus {
  border-color: #d60000;
  box-shadow: 0 0 0 3px rgba(214,0,0,0.25);
}

.confirm-button {
  width: 28%;
  height: 8vh;
  border-radius: 40px;
  border: 2px solid #000;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

.confirm-button:hover {
  background: #333;
}

@media screen and (max-width: 768px) {
  .selection-content {
    width: 90%;           
    height: auto;         
    max-height: 90vh;    
    padding: 25px 20px;   
  }

  .selection-head {
    font-size: 22px;      
    margin-bottom: 10px;
    margin-left: 23px;
  }

  .selection-subtitle {
    font-size: 11px;
    margin-right: 20%;    
    margin-bottom: 15px;
  }

  .selection-box {
    flex-direction: column;   
    gap: 12px;                
  }

  .select-input {
    width: 100%;        
    height: 40px;       
    font-size: 12px;
  }

  .confirm-button {
    width: 60%;       
    height: 45px;
    font-size: 13px;
  }

  .selection-arrow {
    font-size: 24px; 
    margin-top: 10%;
    margin: 6px;

  }
}
