.heading {
    font-size: 12px;
    font-weight: 600;
    color: #1A1A1A;
    margin-bottom: 18px;      
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.signin-container {
  width: 100%;
  text-align: center;
  padding: 20px 0 40px;
}

.letter-img {
  width: 100px;
  margin: 20px auto;
  display: block;
}

.title {
  font-size: 19px;
  font-weight: 800;
  line-height: 1.25;        
  letter-spacing: 0px;      
  text-transform: uppercase;
  color: #1a1a1a;
  max-width: 600px;
  margin: 0 auto 35px;
}

.input-wrapper {
  width: 330px;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #d8d8d8;  
  font-size: 14px;
  outline: none;
  background: transparent;
}

.input-wrapper input:focus {
  border-bottom: 2px solid #e4002b;
}

.error-input {
  border-bottom: 2px solid #d60000 !important;
}

.error-text {
  margin-top: 5px;
  font-size: 13px;
  color: #d60000;
  font-weight: 500;
}

.terms {
  width: 330px;
  margin: 10px auto 5px;
  font-size: 13px;
  color: #4a4a4a;
  line-height: 18px;
  text-align: left;
}

.signin-btn {
  width: 150px;
    height: 38px;
    padding: 15px;
    margin-top: 10px;
    background-color: #e4002b; 
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}
.signin-btn:hover {
    background-color: #c70026;
}